@import "../../styles/mixin";
@import "../../styles/variables";

@media screen and (min-width: 100px) {
  .landingPage {
    background-image: url("../../images/lambeau-field.jpg");
    height: 80vh;
    margin-top: -5vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12.5vh 5vw 0;
    text-align: center;
    color: $white;
    @include flex(column, center, flex-start);

    h2,
    p {
      text-shadow: 0 0 8px $black;
    }

    p {
      margin: 2.5vh 0 5vh;
    }
  }
}

@media screen and (min-width: 300px) {
  .landingPage {
    padding: 20vh 5vw 0;

    h2 {
      font-size: 2rem;
    }

    p {
      margin: 1.25vh 0 5vh;
    }
  }
}

@media screen and (min-width: 768px) {
  .landingPage {
    height: 50vh;
    margin-top: -2.5vh;
    padding: 0vh 5vw 0;
    @include flex(column, center, center);

    h2 {
      margin-top: -5vh;
    }

    p {
      margin: 1.25vh 0 5vh;
      width: 60%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .landingPage {
    height: 95vh;
    margin-top: -5vh;
    @include flex(column, center, center);

    h2 {
      margin-top: -5vh;
      font-size: 3rem;
    }

    p {
      margin: 0.625vh 0 5vh;
      font-size: 1.5rem;
    }

    h2,
    p {
      text-shadow: 0 0 8px $black;
    }
  }
}
