* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/SourceSans3-VariableFont_wght.ttf");
}

:root {
  --font-headers: "Oswald", sans-serif;
  --font-default: "Source Sans 3", sans-serif;
  --branding-green: #4f7942;
  --dark-green: #3b5b33;
  --black: #000;
  --white: #fff;
  --container-padding: 2rem 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  font-weight: 500;
  font-size: 2.5rem;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
li::selection,
a::selection {
  background-color: var(--branding-green);
  color: var(--white);
}

ol {
  list-style-position: inside;
}

ol li {
  margin: 2rem 0;
}

p,
a,
li {
  font-family: var(--font-default);
  font-size: 1.5rem;
  font-weight: 300;
}

a {
  color: var(--black);
}

button {
  border: none;
  font-family: var(--font-headers);
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 5px;
  color: var(--white);
}

.bold {
  font-weight: 400;
}

.curved-dark,
.curved-dark-before {
  background-color: var(--black);
}

.curved-dark-after {
  position: relative;
  border-bottom-left-radius: 50% 0.5%;
  border-bottom-right-radius: 50% 0.5%;
}

.curved-dark-before {
  position: relative;
  border-top-left-radius: 50% 0.5%;
  border-top-right-radius: 50% 0.5%;
}

.secondary-button {
  background-color: var(--black);
  border: 2.5px solid white;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--branding-green);
}

.primary-button {
  background-color: var(--branding-green);
  border: 2.5px solid transparent;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--dark-green);
}

.transparent-icon-button {
  padding: 0.25rem;
  background-color: transparent;
  color: var(--black);
  display: flex;
  align-items: space-between;
  justify-content: center;
}

.transparent-icon-button img {
  margin: 0 0.5rem;
  object-fit: contain;
  object-position: center;
}

ul {
  list-style: none;
}

main {
  margin-top: 5.5rem;
  min-height: 50vh;
}

.page-with-hero {
  margin-top: 0;
}

.container {
  padding: 2rem 5%;
  width: 100%;
}

.container-with-copy p {
  margin: 2rem 0;
  line-height: 1.5;
}

.container-with-copy p:last-of-type {
  margin-bottom: 0;
}

.hr {
  height: 1px;
  margin: 2rem auto;
  width: 70%;
}

.hr-primary {
  background-color: var(--dark-green);
}

/* Navigation */
.header {
  width: 100%;
  min-height: 5.5rem;
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5%;
  z-index: 500;
}

.header-with-hero {
  background-color: transparent;
  transition: background 0.5s ease;
}

#skip-to-content-btn {
  width: 100%;
  background-color: var(--black);
  height: 5.5rem;
  color: var(--white);
  position: absolute;
  top: -150%;
  left: 0;
  transition: top 0.5s;
  z-index: 1000;
}

#skip-to-content-btn:focus {
  top: 0;
  left: 0;
}

.header img {
  height: 70px;
  width: 70px;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}

.background-black {
  background-color: var(--black);
  color: var(--white);
}

.toggle-nav {
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  color: var(--white);
  height: 5rem;
  font-size: 2.5rem;
}

.nav {
  background-color: var(--black);
  position: absolute;
  top: 5.5rem;
  width: 100%;
  left: -100%;
  color: var(--white);
  z-index: 400;
  padding: 2rem 5%;
  min-height: 50vh;
  transition: left 0.25s;
}

.nav-active {
  left: 0;
}

.nav ul {
  display: flex;
  flex-direction: column;
}

.nav li {
  margin: 0.5rem 0;
}

.nav a {
  color: var(--white);
  font-family: var(--font-headers);
  text-decoration: none;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
}

.nav a:hover,
.nav a:focus {
  color: var(--branding-green);
}

.overlay {
  width: 100%;
  left: 0;
  top: 5.5rem;
  position: absolute;
  z-index: 350;
  height: calc(100vh - 5.5rem);
  background-color: var(--black);
  transition: opacity 0.25s ease;
  opacity: 0;
  display: none;
}

/* Footer */
.contact-container-ctas {
  margin: 2rem 0;
}
.contact-container-ctas button {
  margin-right: 1rem;
}

.links {
  margin-bottom: 2rem;
}

.links p {
  font-family: var(--font-headers);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.links li {
  margin: 0.5rem 0;
}

.links a {
  text-decoration: none;
  color: var(--white);
}

.links a:hover,
.links a:focus {
  color: var(--branding-green);
}

.footer-info {
  width: 100%;
}

.socials {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials img {
  width: 50px;
  cursor: pointer;
}

.copyright p {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

/* Cookie popup */
.cookie-popup {
  display: block;
  position: fixed;
  padding: 1rem 5%;
  box-shadow: 0px 0px 8px var(--black);
  width: 95%;
  left: 2.5%;
  background-color: var(--white);
  bottom: -200%;
  z-index: 2000;
  transition: bottom 0.5s ease;
  outline: 0;
}

.cookie-popup h3 {
  font-size: 2rem;
}

.cookie-popup p {
  margin: 2rem auto;
}

.cookie-popup button {
  width: 100%;
  margin: 0.5rem auto;
  border: none;
}

.cookie-popup-active {
  bottom: 5%;
}

/* Homepage */
.homepage-hero {
  background-image: url("/assets/homepage-hero-mobile.jpg");
  background-color: #000;
  width: 100%;
  min-height: 90vh;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.homepage-hero-content {
  width: 100%;
  color: var(--white);
  text-align: center;
}

.homepage-hero-content h1,
.homepage-hero-content p {
  text-shadow: 0px 0px 8px var(--black);
}

.homepage-hero-content h1 {
  line-height: 1.25;
}

.homepage-hero-content p {
  margin: 2rem 0;
  font-weight: 400;
}

.content-callout-container {
  text-align: center;
}

.content-articles-container {
  margin-top: 3rem;
}

.locals-guide-article {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  text-align: left;
  color: var(--black);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin: 1.25rem auto;
  box-shadow: 0px 0px 8px #5f5f5f;
  border: 1px solid #a1a1a1;
}

.locals-guide-article:hover,
.locals-guide-article:focus {
  box-shadow: 0px 0px 8px #000;
}

.background-black .locals-guide-article {
  box-shadow: none;
  border: none;
}

.background-black .locals-guide-article:hover,
.background-black .locals-guide-article:focus {
  box-shadow: none;
  border: none;
}

.locals-guide-rating {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 8px var(--black);
}

.locals-guide-rating p {
  font-weight: 500;
  line-height: 1;
  font-family: var(--font-headers);
}

.locals-guide-article img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 5px 0 0;
}

.article-information {
  padding: 0.5rem 1rem;
}

.article-tags {
  display: flex;
}

.article-tag {
  background-color: var(--black);
  color: var(--white);
  padding: 0rem 0.5rem;
  border-radius: 5px;
  margin: 0 0.25rem 0.5rem 0;
}

.article-tag span {
  font-family: var(--font-default);
  font-size: 1rem;
}

.article-information h2,
.article-information h3 {
  font-size: 1.75rem;
  padding: 0rem 0 0.25rem;
}

.locals-guide-article:hover h2,
.locals-guide-article:focus h2,
.locals-guide-article:hover h3,
.locals-guide-article:focus h3 {
  color: var(--dark-green);
}

.article-information hr {
  background-color: var(--branding-green);
  height: 1px;
  border: none;
}

.article-information p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.about-container img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.about-copy h2 {
  margin: 2rem 0;
}

.content-callout-container button {
  margin-top: 2rem;
  width: 100%;
}

/* Locals-guides */
.lg-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.25rem;
}

.lg-button {
  min-height: 20vh;
  width: 100%;
  margin: 0.25rem 0;
  font-size: 2.5rem;
  background-size: cover;
  background-position: center;
  background-image: var(--black);
}

.eat-button {
  background-image: url("/assets/locals-guide/backgrounds/eat.jpg");
}

.drink-button {
  background-image: url("/assets/locals-guide/backgrounds/drink.jpg");
}

.do-button {
  background-image: url("/assets/locals-guide/backgrounds/do.jpg");
}

.misc-button {
  background-image: url("/assets/locals-guide/backgrounds/misc.jpg");
}

/* Content pages */
.content-articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-articles-header h1 {
  line-height: 1;
  font-size: 2rem;
}

.no-results {
  min-height: 70vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10rem;
}

.no-results p:last-of-type {
  margin-top: 3rem;
}

.filters-and-content-container {
  min-height: 70vh;
}

.filters-and-content-container .content-articles-container {
  margin-top: 2rem;
}

.content-filters-container {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: -200%;
  z-index: 1000;
  transition: left 0.25s ease;
}

.filters-active .content-filters-container {
  left: 0;
}

.content-filters-container .close-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem 1rem;
}

.filter-options {
  padding: 3rem 5%;
  overflow-y: auto;
  height: 90vh;
}

.filter-options hr {
  margin: 1rem 0;
  border: none;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

fieldset {
  border: none;
}

fieldset legend {
  font-family: var(--font-headers);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

fieldset div {
  margin: 0.5rem 0;
}

fieldset label {
  font-family: var(--font-default);
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 0.25rem;
  cursor: pointer;
}

fieldset input {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  content: "";
}

fieldset input:checked {
  accent-color: var(--branding-green);
}

fieldset p {
  display: none;
}

.filter-options a {
  text-decoration: none;
  font-family: var(--font-headers);
  font-size: 2rem;
  font-weight: 400;
}

.filter-options a:hover,
.filter-options a:focus {
  color: var(--branding-green);
}

.filter-buttons {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filters-error p {
  display: block;
  color: red;
}

.filter-buttons button {
  width: 45%;
}

.disclaimer {
  margin-top: 2rem;
}

/* Articles */
.article {
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto;
}

.article img {
  width: 100%;
  border-radius: 5px;
}

.article h1 {
  text-align: center;
  margin: 1rem 0;
}

.multiple-locations {
  position: relative;
}

.article a {
  font-weight: 400;
}

.article a:hover,
.article a:focus {
  color: var(--dark-green);
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.rating div {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--white);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.rating p {
  margin: 0;
  line-height: 1;
}

.rating p:first-of-type {
  font-size: 1.5rem;
}

.rating p:last-of-type {
  margin-top: 0.25rem;
  font-size: 3rem;
  font-family: var(--font-headers);
  font-weight: 400;
}

.thank-you-banner {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}

.thank-you-banner p {
  margin: 2rem 0;
}

.location-details {
  text-align: center;
}

.location-details .about-copy h2 {
  margin: 2rem 0 0;
}

.address p {
  margin-top: 0.5rem;
  font-style: normal;
}

.street,
.city-state-zip {
  display: block;
}

.location-details ul {
  margin: 2rem 0;
}

.day {
  font-weight: 400;
}

.location-ctas {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.location-ctas button:nth-of-type(2) {
  margin-top: 1rem;
}

.previous-button,
.next-button {
  padding: 0.5rem 1rem;
  display: none;
}

.multiple-locations .previous-button,
.multiple-locations .next-button {
  display: block;
  position: absolute;
}

.multiple-locations .previous-button {
  top: 32rem;
  left: 5px;
}

.multiple-locations .next-button {
  top: 32rem;
  right: 5px;
}

.multiple-locations .about-container {
  display: none;
  flex-direction: column;
}

.multiple-locations .about-container:first-of-type {
  display: flex;
}

/* Tablet */
@media screen and (min-width: 768px) and (orientation: portrait),
  (min-width: 768px) and (orientation: landscape) {
  .container {
    padding: 2rem 5%;
    width: 100%;
  }

  .hr {
    width: 50%;
  }

  /* Navigation */
  .nav {
    min-height: 35vh;
  }

  /* Footer */
  .site-links {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(50% - 10px), calc(50% - 10px))
    );
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  /* Homepage */
  .homepage-hero {
    min-height: 60vh;
    background-image: url("./assets/homepage-hero.jpg");
  }

  .homepage-hero-content {
    padding: 2rem 15%;
  }

  .content-articles-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(50% - 10px), calc(50% - 10px))
    );
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .locals-guide-article {
    margin: 0;
  }

  .about-container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container img {
    width: 80%;
  }

  /* Articles */
  .article {
    width: 70%;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) and (orientation: landscape) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3rem;
  }

  p,
  a {
    font-size: 1.5rem;
  }

  main {
    margin-top: 5rem;
    min-height: 80vh;
  }

  .container {
    padding: 3rem 1.25%;
  }

  .hr {
    width: 40%;
  }

  /* Navigation */
  .header {
    min-height: 5rem;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .header img {
    height: 4.5rem;
    position: absolute;
    left: 2.5%;
    top: 0.25rem;
    z-index: 475;
  }

  .toggle-nav {
    display: none;
  }

  .nav {
    position: static;
    width: 100%;
    padding: 0;
    min-height: 5rem;
    display: flex;
    align-items: flex-end;
    background-color: transparent;
  }

  .nav ul {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .nav li {
    margin: 0 1rem;
  }

  .nav a {
    font-size: 1.75rem;
  }

  /* Cookie popup */
  .cookie-popup {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cookie-container {
    width: 40%;
    margin-right: 10%;
  }

  .cookie-popup-ctas {
    width: 20%;
  }

  .cookie-popup-active {
    bottom: 0;
  }

  /* Footer */
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  footer .hr {
    height: 30vh;
    width: 2px;
    margin: 0 2rem;
  }

  .contact-container {
    width: 40%;
    margin-right: 5%;
  }

  .site-links {
    width: 40%;
    margin-left: 5%;
  }

  .text-button {
    display: none;
  }

  /* Homepage */
  .homepage-hero {
    min-height: 100vh;
    background-image: url("/assets/homepage-hero.jpg");
    background-size: cover;
  }

  .homepage-hero-content {
    padding: 2rem 25%;
  }

  .homepage-hero-content p {
    margin: 1rem 0 2rem;
  }

  .content-articles-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(25% - 15px), calc(25% - 15px))
    );
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .locals-guide-article {
    margin: 0;
  }

  .about-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
  }

  .about-container img {
    width: 45%;
  }

  .about-copy {
    width: 45%;
    margin-left: 8rem;
  }

  .about-copy h2 {
    margin: 0;
  }

  .content-callout-container button {
    margin-top: 4rem;
    width: 40%;
  }

  /* Locals-guides */
  .lg-button-container {
    flex-direction: row;
    padding: 0.25rem 0;
  }

  .lg-button {
    min-height: 85vh;
    width: calc(25vw - 0.25rem);
    margin: 0 0.25rem;
    font-size: 3rem;
  }

  .eat-button {
    background-image: url("/assets/locals-guide/backgrounds/eat-dark.jpg");
  }

  .eat-button:hover,
  .eat-button:focus {
    background-image: url("/assets/locals-guide/backgrounds/eat.jpg");
  }

  .drink-button {
    background-image: url("/assets/locals-guide/backgrounds/drink-dark.jpg");
  }

  .drink-button:hover,
  .drink-button:focus {
    background-image: url("/assets/locals-guide/backgrounds/drink.jpg");
  }

  .do-button {
    background-image: url("/assets/locals-guide/backgrounds/do-dark.jpg");
  }

  .do-button:hover,
  .do-button:focus {
    background-image: url("/assets/locals-guide/backgrounds/do.jpg");
  }

  .misc-button {
    background-image: url("/assets/locals-guide/backgrounds/misc-dark.jpg");
  }

  .misc-button:hover,
  .misc-button:focus {
    background-image: url("/assets/locals-guide/backgrounds/misc.jpg");
  }

  /* Content pages */
  .content-articles-header {
    margin: 0 0 0 auto;
    width: 100%;
    transition: width 0.25s ease;
  }

  .disclaimer {
    margin: 3rem auto 0;
    width: 60%;
  }

  .filters-active .content-articles-header {
    width: 75%;
  }

  .filters-active .disclaimer {
    margin: 3rem 7.5% 0 auto;
    width: 60%;
  }

  .filters-and-content-container .content-articles-container {
    margin: 2rem 0 0 auto;
    width: 100%;
    transition: width 0.25s ease;
  }

  .content-filters-container {
    width: 25%;
    height: calc(100vh - 80px);
    position: fixed;
    left: -100%;
    top: 80px;
    transition: left 0.2s ease !important;
    box-shadow: 0px 0px 8px var(--black);
  }

  .filters-active .content-filters-container {
    left: 0;
  }

  .filters-active .content-articles-container {
    width: 75%;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(33% - 15px), calc(33% - 15px))
    );
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  /* Articles */
  .article img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .article {
    width: 55%;
  }

  .thank-you-container {
    width: 55%;
    margin: 0 auto;
  }

  .multiple-locations .previous-button {
    top: 25rem;
    left: 15rem;
  }

  .multiple-locations .next-button {
    top: 25rem;
    right: 15rem;
  }

  .multiple-locations .about-container {
    display: none;
    flex-direction: row;
  }
}

@media screen and (min-width: 1600px) {
  /* Homepage */
  .homepage-hero-content {
    padding: 2rem 25%;
    margin-top: -5rem;
  }

  .about-container img {
    width: 40%;
  }

  .about-copy {
    width: 40%;
  }

  /* Locals-guides */

  .lg-button {
    min-height: 90vh;
  }

  /* Articles */
  .article {
    width: 45%;
  }

  .thank-you-container {
    width: 45%;
  }
}
