* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/SourceSans3-VariableFont_wght.ttf");
}

:root {
  --font-headers: "Oswald", sans-serif;
  --font-default: "Source Sans 3", sans-serif;
  --branding-green: #4f7942;
  --dark-green: #3b5b33;
  --black: #000;
  --white: #fff;
  --container-padding: 2rem 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  font-weight: 500;
  font-size: 2.5rem;
}

p,
a {
  font-family: var(--font-default);
  font-size: 1.5rem;
  font-weight: 300;
}

button {
  border: none;
  font-family: var(--font-headers);
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 5px;
  color: var(--white);
}

.curved-dark,
.curved-dark-before {
  background-color: var(--black);
}

.curved-dark-after {
  position: relative;
  border-bottom-left-radius: 50% 0.5%;
  border-bottom-right-radius: 50% 0.5%;
}

.curved-dark-before {
  position: relative;
  border-top-left-radius: 50% 0.5%;
  border-top-right-radius: 50% 0.5%;
}

.secondary-button {
  background-color: #000000b3;
  border: 2.5px solid white;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--branding-green);
}

.primary-button {
  background-color: var(--branding-green);
  border: 2.5px solid transparent;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--dark-green);
}

ul,
ol {
  list-style: none;
}

main {
  margin-top: 5.5rem;
}

.page-with-hero {
  margin-top: 0;
  min-height: 200vh;
}

.container {
  padding: 2rem 5%;
  width: 100%;
}

.container-with-copy p {
  margin: 2rem 0;
}

.container-with-copy p:last-of-type {
  margin-bottom: 0;
}

.hr {
  height: 1px;
  margin: 2rem auto;
  width: 70%;
}

.hr-primary {
  background-color: var(--dark-green);
}

/* Navigation */
.header {
  width: 100%;
  min-height: 5.5rem;
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5%;
  z-index: 500;
}

.header-with-hero {
  background-color: transparent;
  transition: background 0.5s ease;
}

#skip-to-content-btn {
  width: 100%;
  background-color: var(--black);
  height: 5.5rem;
  color: var(--white);
  position: absolute;
  top: -150%;
  left: 0;
  transition: top 0.5s;
  z-index: 1000;
}

#skip-to-content-btn:focus {
  top: 0;
  left: 0;
}

.header img {
  height: 5rem;
  width: auto;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.background-black {
  background-color: var(--black);
  color: var(--white);
}

.toggle-nav {
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  color: var(--white);
  height: 5rem;
  font-size: 2.5rem;
}

.nav {
  background-color: var(--black);
  position: absolute;
  top: 5.5rem;
  width: 100%;
  left: -100%;
  color: var(--white);
  z-index: 400;
  padding: 2rem 5%;
  min-height: 50vh;
  transition: left 0.25s;
}

.nav-active {
  left: 0;
}

.nav ul {
  display: flex;
  flex-direction: column;
}

.nav li {
  margin: 0.5rem 0;
}

.nav a {
  color: var(--white);
  font-family: var(--font-headers);
  text-decoration: none;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
}

.nav a:hover,
.nav a:focus {
  color: var(--branding-green);
}

.overlay {
  width: 100%;
  left: 0;
  top: 5.5rem;
  position: absolute;
  z-index: 350;
  height: calc(100vh - 5.5rem);
  background-color: var(--black);
  transition: opacity 0.25s ease;
  opacity: 0;
  display: none;
}

/* Footer */
.contact-container-ctas {
  margin: 2rem 0;
}
.contact-container-ctas button {
  margin-right: 1rem;
}

.links {
  margin-bottom: 2rem;
}

.links p {
  font-family: var(--font-headers);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.links li {
  margin: 0.5rem 0;
}

.links a {
  text-decoration: none;
  color: var(--white);
}

.links a:hover,
.links a:focus {
  color: var(--branding-green);
}

.footer-info {
  width: 100%;
}

.socials {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials img {
  width: 50px;
  cursor: pointer;
}

.copyright p {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

/* Homepage */
.homepage-hero {
  background-image: url("/assets/homepage-hero-mobile.jpg");
  background-color: #000;
  width: 100%;
  min-height: 90vh;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-hero-content {
  width: 100%;
  color: var(--white);
  text-align: center;
}

.homepage-hero-content h1,
.homepage-hero-content p {
  text-shadow: 0px 0px 8px var(--black);
}

.homepage-hero-content h1 {
  line-height: 1.25;
}

.homepage-hero-content p {
  margin: 2rem 0;
  font-weight: 400;
}

.content-callout-container {
  text-align: center;
}

.locals-guide-articles-container {
  margin-top: 3rem;
}

.locals-guide-article {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  text-align: left;
  color: var(--black);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin: 1.25rem auto;
  box-shadow: 0px 0px 8px #5f5f5f;
  border: 1px solid #a1a1a1;
}

.locals-guide-article:hover,
.locals-guide-article:focus {
  box-shadow: 0px 0px 8px #000;
}

.background-black .locals-guide-article {
  box-shadow: none;
  border: none;
}

.background-black .locals-guide-article:hover,
.background-black .locals-guide-article:focus {
  box-shadow: none;
  border: none;
}

.locals-guide-rating {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 8px var(--black);
}

.locals-guide-rating p {
  font-weight: 500;
  line-height: 1;
  font-family: var(--font-headers);
}

.locals-guide-article img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 5px 0 0;
}

.article-information {
  padding: 0.5rem 1rem;
}

.article-tags {
  display: flex;
}

.article-tag {
  background-color: var(--black);
  color: var(--white);
  padding: 0rem 0.5rem;
  border-radius: 5px;
  margin: 0 0.25rem 0.5rem 0;
}

.article-tag span {
  font-family: var(--font-default);
  font-size: 1rem;
}

.article-information h2,
.article-information h3 {
  font-size: 1.75rem;
  padding: 0rem 0 0.25rem;
}

.locals-guide-article:hover h2,
.locals-guide-article:focus h2,
.locals-guide-article:hover h3,
.locals-guide-article:focus h3 {
  color: var(--dark-green);
}

.article-information hr {
  background-color: var(--branding-green);
  height: 1px;
  border: none;
}

.article-information p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.about-container img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.about-copy h2 {
  margin: 2rem 0;
}

.content-callout-container button {
  margin-top: 2rem;
  width: 100%;
}

/* Tablet */
@media screen and (min-width: 768px) and (orientation: portrait),
  (min-width: 768px) and (orientation: landscape) {
  .container {
    padding: 2rem 5%;
    width: 100%;
  }

  .hr {
    width: 50%;
  }

  /* Navigation */
  .nav {
    min-height: 35vh;
  }

  /* Footer */
  .site-links {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(50% - 10px), calc(50% - 10px))
    );
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  /* Homepage */
  .homepage-hero {
    min-height: 60vh;
    background-image: url("./assets/homepage-hero.jpg");
  }

  .homepage-hero-content {
    padding: 2rem 15%;
  }

  .locals-guide-articles-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(50% - 10px), calc(50% - 10px))
    );
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .locals-guide-article {
    margin: 0;
  }

  .about-container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container img {
    width: 80%;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) and (orientation: landscape) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3rem;
  }

  p,
  a {
    font-size: 1.5rem;
  }

  main {
    margin-top: 5rem;
    min-height: 100vh;
  }

  .container {
    padding: 3rem 1.25%;
  }

  .hr {
    width: 40%;
  }

  /* Navigation */
  .header {
    min-height: 5rem;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .header img {
    height: 4.5rem;
    position: absolute;
    left: 2.5%;
    top: 0.25rem;
    z-index: 475;
  }

  .toggle-nav {
    display: none;
  }

  .nav {
    position: static;
    width: 100%;
    padding: 0;
    min-height: 5rem;
    display: flex;
    align-items: flex-end;
    background-color: transparent;
  }

  .nav ul {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .nav li {
    margin: 0 1rem;
  }

  .nav a {
    font-size: 1.75rem;
  }

  /* Footer */
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  footer .hr {
    height: 30vh;
    width: 2px;
    margin: 0 2rem;
  }

  .contact-container {
    width: 40%;
    margin-right: 5%;
  }

  .site-links {
    width: 40%;
    margin-left: 5%;
  }

  .text-button {
    display: none;
  }

  /* Homepage */
  .homepage-hero {
    min-height: 100vh;
    background-image: url("/assets/homepage-hero.jpg");
    background-size: cover;
  }

  .homepage-hero-content {
    padding: 2rem 25%;
  }

  .homepage-hero-content p {
    margin: 1rem 0 2rem;
  }

  .locals-guide-articles-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(25% - 15px), calc(25% - 15px))
    );
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .locals-guide-article {
    margin: 0;
  }

  .about-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
  }

  .about-container img {
    width: 45%;
  }

  .about-copy {
    width: 45%;
    margin-left: 8rem;
  }

  .content-callout-container button {
    margin-top: 4rem;
    width: 40%;
  }
}

@media screen and (min-width: 1600px) {
  /* Homepage */
  .homepage-hero-content {
    padding: 2rem 25%;
    margin-top: -5rem;
  }

  .about-container img {
    width: 40%;
  }

  .about-copy {
    width: 40%;
  }
}
