@import "../../styles/_mixin.scss";
@import "../../styles/_variables.scss";

@media screen and (min-width: 100px) {
  .suggestion,
  .mainSuggestion {
    min-height: 50vh;
    text-align: center;
    padding: 2.5vh 10vw;

    h3 {
      margin-bottom: 5vh;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .suggestion,
  .mainSuggestion {
    @include flex(row, center, space-evenly);
    flex-wrap: wrap;

    h3 {
      margin-bottom: 2.5vh;
      width: 100%;
    }
  }

  .mainSuggestion {
    padding: 5vh 10vw;
  }

  .suggestion {
    padding: 2.5vh 10vw;
  }
}

@media screen and (min-width: 1024px) {
  .mainSuggestion {
    padding: 10vh 5vw;
    h3 {
      margin-bottom: 5vh;
    }
  }

  .suggestion {
    padding: 2.5vh 5vw;
    h3 {
      margin-bottom: 2.5vh;
    }
  }
}
