@import "./styles/mixin";
@import "./styles/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include defaultHeader;
}

p,
li,
a {
  @include defaultFont;
}

.primary-btn {
  color: $white;
  background-color: $black;
  &:hover {
    color: $brandingGreen;
  }
}

.secondary-btn {
  color: $black;
  background-color: $brandingGreen;
}

.primary-btn,
.secondary-btn {
  transition: color 0.25s ease;
  border-radius: 5px;
  @include defaultHeader;
  cursor: pointer;
}

.dark {
  background-color: $black;
  color: $white;
}

.light {
  background-color: $lightGreenGray;
  color: $black;
}

.white {
  background-color: $white;
}

.eatBackground,
.drinkBackground,
.doBackground,
.miscBackground {
  background-position: center;
  background-size: cover;
}

.eatBackground {
  background-image: url("./images/locals-guide/eat/eat-background.jpg");
}

.drinkBackground {
  background-image: url("./images/locals-guide/drink/drink-background.jpg");
}

.doBackground {
  background-image: url("./images/locals-guide/see/see-background.jpg");
}

.miscBackground {
  background-image: url("./images/locals-guide/misc/misc-background.jpg");
}

@media screen and (min-width: 100px) {
  .primary-btn,
  .secondary-btn {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }

  main {
    min-height: 84vh;
    background-color: $lightGreenGray;
  }

  p {
    font-size: 1rem;
  }

  .section-container {
    padding: 0 10%;
    margin: 0 auto;
  }

  .locals-guide {
    @include flex(column, center, space-evenly);
  }
}

@media screen and (min-width: 300px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.75rem;
  }

  .primary-btn,
  .secondary-btn {
    font-size: 1.25rem;
    padding: 0.25rem 1rem;
  }

  p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .primary-btn,
  .secondary-btn {
    font-size: 1.5rem;
    padding: 0.25rem 2rem;
  }

  p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2.5rem;
  }

  .primary-btn,
  .secondary-btn {
    padding: 0.5rem 2.5rem;
  }

  .locals-guide {
    @include flex(row, center, space-evenly);
  }
}
